[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/wil"]
	path = submodules/wil
	url = https://github.com/microsoft/wil
